STACK_FOLDER=stack
FEATURE_FILE=feature
NEW_FEATURE_FILE=feature.new
WRONG_FILE=wrong_file
NEW_WRONG_FILE=wrong_file.new
NO_DMP=no_dmp
NEW_NO_DMP=no_dmp.new
REPORT=report
NEW_REPORT=report.new

CAMPARE_THRESHOLD=5
FOLDER_PRE=crash-database
DB_FOLDER=${FOLDER_PRE}-$CAMPARE_THRESHOLD
SIMILAR_FIX=sim

CRASH_REPORT=crash_report.html
