#version: release daily local
TEST_VERSION="custom-hudson"

DEVICE_CONFIG="test-config/7710.config"
LOG_SERVER_CONFIG="test-config/log_server.config"
IMAGE_FOLDER=current-release-image
SYMBOL_FOLDER=${IMAGE_FOLDER}/objdir-gecko/dist/crashreporter-symbols

#for custom*, such as get pac from hudson
CUSTOM_IMG_SC=hudson_img_get.sh #TEST_VERSION="custom-hudson"
HUDSON_FILE_URL="http://10.0.0.217:8080/hudson/job/sp7710_gonk4.0/91/artifact/sp7710ga_gonk4.0.tar.gz" #for hudson
CUSTOM_FLASH_SC=flash.sh #hudson use the normal flash sc

