#version: release daily local
TEST_VERSION="custom-hudson"

DEVICE_CONFIG="7710.config"

#for release version
NEED_GET_IMAGE=""
NEED_FLASH=""
IMAGE_SERVER_CONFIG=""

#for daily version
NEED_REBUILD_ALL=y
DEV_PROJECT=sp8810eabase_512x256_hvga

#for custom*, such as get pac from hudson
CUSTOM_IMG_SC=hudson_img_get.sh #TEST_VERSION="custom-hudson"
HUDSON_FILE_URL="http://10.0.0.217:8080/hudson/view/firefox/job/sp7710_gonk4.0/lastSuccessfulBuild/artifact/sp7710ga_gonk4.0.tar.gz" #for hudson
CUSTOM_FLASH_SC=flash.sh #hudson use the normal flash sc

