TAR_FOLDER=crdb/tar_backup
STACK_FOLDER=crdb/stack
FEATURE_FILE=crdb/feature
WRONG_FILE=crdb/wrong_file
NO_DMP=crdb/no_dmp
DMP_SIZE_0=crdb/dmp_size_0
DMP_INCOMPLETE=crdb/dmp_incomplete

REPORT=crdb/report

CAMPARE_THRESHOLD=5
FOLDER_PRE=crash-database
DB_FOLDER=crdb/${FOLDER_PRE}-$CAMPARE_THRESHOLD
SIMILAR_FIX=sim
STACK_FILTER_CONFIG=crdb_stack.filter

CRASH_REPORT=crdb_crash_report.html
