#normal test config define, maybe used in more than one script
ADB=bin/adb
FASTBOOT=bin/fastboot
BUSYBOX=/data/busybox
GSNAP=/data/gsnap
FIND="$ADB shell $BUSYBOX find"
DEVDIR=/data
TOMBSTONES=/data/tombstones
SLOGDIR=/data/slog
SNAPSHOT_NAME=snapshot
LOGHEAD=mtlog
EXLOGHEAD=exlog
IMAGE_FOLDER=current-release-image

error_test()
{
    if [ "$1" -ne 0 ]
    then
        echo "[ERROR] $2($3)"
        exit $1
    fi
}

EXIT_TEST_CRASH_DETECT=255
