#config the current release version
#script can follow this config to get the release version
#a good idea is that, always take the current release in a "current" folder
#server, user, passwd, folder, etc.
image_server="10.0.0.217"
image_user="mocorhtml5_log"
image_passwd="PSD#sciuser"
image_folder="/mocorhtml5_log/mocorhtml5os_image"
image_package="current-release-image-tara.tar.bz2"

