#version: release daily local
TEST_VERSION="daily"

DEVICE_CONFIG="tara.config"

#for release version
NEED_GET_IMAGE=""
NEED_FLASH=""
IMAGE_SERVER_CONFIG=""

#for daily version
NEED_REBUILD_ALL=y
DEV_PROJECT=sp8810eabase_512x256_hvga
