#version: release daily local
TEST_VERSION="custom-hudson"

DEVICE_CONFIG="test-config/hamachi.config"
LOG_SERVER_CONFIG="test-config/log_server.config"
IMAGE_FOLDER=current-release-image
SYMBOL_FOLDER=${IMAGE_FOLDER}/objdir-gecko/dist/crashreporter-symbols

#for custom*, such as get pac from hudson
CUSTOM_IMG_SC=hudson_img_get.sh
HUDSON_FILE_URL="http://10.0.0.217:8080/hudson/job/hamachi_v1.3/lastSuccessfulBuild/artifact/hamachi_v1.3.tar.gz"
CUSTOM_FLASH_SC=flash.sh

